<div class="modal" id="modal-info" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h2>Information</h2>
            <a href="#" class="btn-close" aria-hidden="true">×</a>
        </div>
        <div class="modal-body">
            <p>Example of loading a simple map app from a server side config. Uses basic ArcGIS JS dijits with some font awesome icons.</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn">OK</a>
        </div>
    </div>
</div>
